            .popup__job {
                font-style: normal;
                font-weight: normal;
                font-size: 14px;
                line-height: 17px;
                color: #000000;
                margin: 30px auto 13px 36px;
                border: white;
            }