.profile {
    display: flex;
    margin: 36px auto 47px 0;
}

@media screen and (max-width: 620px) {
    .profile {
        flex-direction: column;
        align-items: center;
        margin: 38px auto 0 auto;
    }
}