.add-button {
    display: flex;
    outline: 1px solid white;
    width: 150px;
    height: 50px;
    justify-content: center;
    align-items: center;
    margin: 39px 0 auto auto;
    cursor: pointer;
}

.add-button:hover {
    opacity: .6;
}

@media screen and (max-width: 620px) {
    .add-button {
        width: 282px;
        height: 50px;
        margin: 36px auto 36px auto;
    }
}