.popup__name {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    color: #000000;
    margin: 0 auto 13px 36px;
    border: white;
}

@media screen and (max-width: 620px) {
    .popup__name {
        margin: 0 auto 13px 22px;
    }
}