    .popup__close {
        position: absolute;
        top: -36px;
        right: -36px;
        cursor: pointer;
        background: transparent;
        border: none;
        width: 32px;
        height: 32px;
        padding: 0;
    }
    
    .popup__close:hover {
        opacity: .6;
    }
    
    @media screen and (max-width: 620px) {
        .popup__close {
            top: -43px;
            right: 8px;
            width: 21px;
            height: 21px;
        }
    }