.card__like {
    background: url('../../../images/like.svg');
    width: 22px;
    height: 19px;
    margin: 30px 20px auto auto;
    cursor: pointer;
}

.card__like:hover {
    opacity: .6;
}

.card__like:active {
    background: url('../../../images/blacklike.svg');
    opacity: 1;
}